
@{
    ViewBag.Title = "我的订单";
    Layout = "~/Views/Shared/_LayoutOne.cshtml";
}
<link href="~/page/cart/index.css" rel="stylesheet" />
@*<script src="~/page/cart/indexMvc.js"></script>*@
@*<link href="~/page/order/order.css" rel="stylesheet" />
<link href="~/page/order/base.css" rel="stylesheet" />*@
<style>
    #leftmenu {
        width: 130px;
        float: left;
    }

    .order_title {
        margin-right: 10px;
        border: 1px solid #808080;
        text-align: center;
        height: 50px;
        line-height: 50px;
        background-color: #ad1616;
        color: #ffffff;
        font-size: 17px;
        font-family: "microsoft yahei";
    }

    .order_menu {
        margin-right: 10px;
        height: 250px;
        border: 1px solid #808080;
        text-align: center;
    }

    /*.order_first {
        border-top: 1px solid #ffffff;
        background-color: #ad1616;
        color: #ffffff;
        font-size: 20px;
        font-family: "microsoft yahei";
    }*/
        
    .order_menu li {
        font-size: 15px;
        font-family: "microsoft yahei";
        height: 50px;
        line-height: 50px;
        border-top: 1px solid #ad1616;
    }
    a{
        color:black;
    }
    .order_menu li a {
        text-decoration: none;
        display:block
    }
    .active {
        background-color: #ad1616;
        color: #ffffff;
        font-size: 20px;
        font-family: "microsoft yahei";
    }
    .active a{
        color:white
    }
</style>
<div class="crumb">
    <div class="w">
        <div class="crumb-con">
            <a class="link" href="./index.html">MMall</a>
            <span>></span>
            <span class="link-text">我的订单</span>
        </div>
    </div>
</div>
<div class="page-wrap w">
    <div id="leftmenu">
        @*<ul class="order_title">
            <li>订单中心</li>
        </ul>*@
        <ul class="order_menu">
            <li class="order_first active"><a href="#" onclick="allorders()">全部订单</a></li>
            <li><a href="#" onclick="payment()">待付款</a></li>
            <li><a href="#" onclick="send()">待发货</a></li>
            <li><a href="#" onclick="receive()">待收货</a></li>
            <li><a href="#" onclick="comment()">待评价</a></li>
        </ul>
    </div>
    <style>
        .orderTable{

        }
        .orderTitle {
            text-align: left;
            padding-left: 30px;
        }
        .orderDate {
            padding-right: 20px;
        }
        .orderDelete {
            float: right;
            margin-right: 30px;
        }
        .cart-table .cell-info {
            padding-bottom: 10px;
            padding-top: 10px;
            vertical-align: top;
        }
        .cart-table .cell-total {
            border-left: 1px solid #ebebeb;
        }
        .cart-table .cell-count {
            border-left: 1px solid #ebebeb;
        }
        .cart-table .cell-opera {
            border-left: 1px solid #ebebeb;
        }
        .orderDelete:hover {
            color: #ad1616;
        }
        .link:hover {
            color: #ad1616;
        }
    </style>
    <div class="order">
        <table class="cart-table" data-product-id="1" style="width:88%">
            <tr>
                <th colspan="7" style="background-color: #eee;height: 40px;line-height: 40px;">
                    <div class="orderTitle">
                        <span class="orderDate">2012-01-02 12:12:12</span>
                        <span>订单号：268942688948576231</span>
                        <span class="orderDelete" style="cursor:pointer" onclick="">删除订单</span>
                    </div>
                </th>
            </tr>
            <tr>
                <td class="cart-cell cell-img" style="text-align:center">
                    <a class="link" href="@Url.Action("Detail","Goods")" style="display: inline-block;">
                        <img class="p-img" src="~/image/goods/da01.jpg" alt="" />
                    </a>
                </td>
                <td class="cart-cell cell-info">
                    <a class="link" href="@Url.Action("Detail","Goods")">
                        商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字
                        商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字
                        商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字
                    </a>
                </td>
                <td class="cart-cell cell-price">￥10000.90</td>
                <td class="cart-cell cell-price">1</td>
                <td class="cart-cell cell-total">￥1000.90</td>
                <td class="cart-cell cell-count">
                    <input class="count-input" value="去付款" type="button" />
                </td>
            </tr>
        </table>
        <table class="cart-table" data-product-id="1" style="width:88%">
            <tr>
                <th colspan="6" style="background-color: #eee;height: 40px;line-height: 40px;">
                    <div class="orderTitle">
                        <span class="orderDate">2012-01-02 12:12:12</span>
                        <span>订单号：268942688948576231</span>
                        <span class="orderDelete" style="cursor:pointer" onclick="">删除订单</span>
                    </div>
                </th>
            </tr>
            <tr>
                <td class="cart-cell cell-img" style="text-align:center">
                    <a class="link" href="@Url.Action("Detail","Goods")" style="display: inline-block;">
                        <img class="p-img" src="~/image/goods/tou06.jpg" alt="" />
                    </a>
                </td>
                <td class="cart-cell cell-info">
                    <a class="link" href="@Url.Action("Detail","Goods")">
                        商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字
                        商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字
                        商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字商品名字
                    </a>
                </td>
                @{ 
                    int orderGoodsNum = 2;
                }
                <td class="cart-cell cell-price">￥100.90</td>
                <td class="cart-cell cell-price">2</td>
                <td class="cart-cell cell-total" rowspan="@orderGoodsNum">￥501.80</td>
                <td class="cart-cell cell-count" rowspan="@orderGoodsNum">
                    <input class="count-input" value="去付款" type="button" />
                </td>
            </tr>
            <tr style="border-top:1px solid #ebebeb;">
                <td class="cart-cell cell-img" style="text-align:center">
                    <a class="link" href="@Url.Action("Detail","Goods")" style="display: inline-block;">
                        <img class="p-img" src="~/image/goods/tong01.jpg" alt="" />
                    </a>
                </td>
                <td class="cart-cell cell-info">
                    <a class="link" href="@Url.Action("Detail","Goods")">
                        商品名字
                    </a>
                </td>
                <td class="cart-cell cell-price">￥100</td>
                <td class="cart-cell cell-price">3</td>
            </tr>
        </table>
    </div>
    <!--<p class="err-tip">
        <span>您的购物车空空如也，</span>
        <a href="./index.html">立即去购物</a>
    </p>-->
</div>


